@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&family=Poppins:wght@900&family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:wght@300;400;600;900&display=swap");

:root {
  --primary-btn-color: #13183f;
  --secondary-p-text: #83869a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #f8f8ff;
  align-items: center;
}

img {
  width: 100%;
}

.main-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  align-self: center;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 25px 10px;
}

.btn,
.btn-secondary,
.btn-footer {
  text-transform: capitalize;
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.btn-footer {
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

.btn {
  background-color: var(--primary-btn-color);
}

.btn-secondary,
.tile-one {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

.body-info,
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-info {
  margin: 25px 0;
}

.about {
  gap: 30px;
  padding: 15px;
}

.body-tiles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 45px 0;
  gap: 50px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 600;
}

#body-paragraph {
  text-align: center;
}

#body-paragraph,
#tile-paragraph {
  line-height: 25px;
  color: var(--secondary-p-text);
}

#hero-mobile {
  width: 100%;
  margin: 25px 0;
}

.tile-one {
  padding: 25px;
  max-width: 320px;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 10px;
  margin: 0 0 30px 0;
}

.animation-tile,
.design-tile,
.photography-tile,
.crypto-tile,
.business-tile {
  box-shadow: 7px 11px 20px -10px rgb(0 0 0 / 33%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 30px 20px;
  background: #fff;
  max-width: 360px;
}

.get-started-text {
  color: #f74780;
  font-weight: bold;
}

.tile-img {
  width: 50px;
  margin-top: -50px;
}

.footer {
  background-color: var(--primary-btn-color);
  padding: 45px 30px;
}

@media only screen and (min-width: 830px) {
  .wrapper {
    margin: 0 auto;
  }

  .body-info {
    display: flex;
    flex-direction: row;
    margin: 60px 25px;
  }

  .body-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1020px;
    gap: 50px;
    align-items: stretch;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .about {
    align-items: flex-start;
  }

  h1 {
    text-align: left;
    font-size: 3.2rem;
  }

  .tile-one {
    margin: 0 35px;
    max-width: 360px;
    font-size: 2.2rem;
    padding: 35px;
    flex: 1 0 320px;
  }

  .animation-tile,
  .design-tile,
  .photography-tile,
  .crypto-tile,
  .business-tile {
    flex: 1 0 320px;
    margin: 0 35px;
  }

  #body-paragraph {
    text-align: left;
  }

  .btn {
    padding: 25px 35px;
  }
}

@media only screen and (min-width: 1150px) {
  .footer-wrap {
    background: var(--primary-btn-color);
  }

  .footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  .body-tiles {
    display: flex;
    max-width: 1220px;
  }

  .tile-one,
  .animation-tile,
  .design-tile,
  .photography-tile,
  .crypto-tile,
  .business-tile {
    margin: 0;
  }
}
